html body {
  margin: 0;
  padding: 0;
  background: #834d9b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d04ed6,
    #834d9b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d04ed6,
    #834d9b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Lora", sans-serif;
}

.container {
  max-width: 400px;
  height: 100vh;
}

.twitch-logo {
  margin: 0 auto;
}

#tabs {
  text-align: center;
  background-color: #6441a5;
  color: #fff;
  font-size: 1.5em;
  border: 1px white solid;
  margin: -4px 0px -4px 0px;
}

.tab {
  padding: 0 10px;
}
.tab:hover {
  cursor: pointer;
}

.active {
  font-weight: 700;
  color: #6441a5;
  background-color: #fff;
  border: 2px white solid;
}

#big-box {
  margin: 0px 0px 20px 0px;
  padding: 5px;
  background-color: #fff;
  color: #6441a5;
}

.user {
  margin: 0px 0 10px 0;
  padding: 5px;
  position: relative;
}

.user img {
  height: 75px;
}

.username {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
}

.username a {
  color: #6441a5;
}

.username a:hover {
  color: #331775;
}

.status {
  font-weight: 300;
  font-size: 0.75rem;
  font-style: italic;
  position: absolute;
  left: 90px;
  bottom: 18px;
}

.icon-active {
  float: right;
  color: #41a553;
  line-height: 75px;
}

.icon-inactive {
  float: right;
  color: #d80808;
  line-height: 75px;
}

.fa {
  font-size: 2em;
}

.copyright {
  text-align: center;
  margin: 5px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}
